<nav class="paginator-container">
  <div class="paginator-flex">
      {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}">
          <button class="paginator-button">
            First
          </button>
        </a>
      {% else %}
        <button class="paginator-button">
          First
        </button>
      {% endif %}
      

      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">
          <button class="paginator-button">
            <img src="/images/chevron-left.svg" alt="prev">
          </button>
        </a>
      {% else %}
        <button class="paginator-button">
          <img src="/images/chevron-left.svg" alt="prev">
        </button>
      {% endif %}

      {% for pageEntry in pagination.pages %}
        {% if page.url ==  pagination.hrefs[forloop.index0] %} 
          <a href="{{ pagination.hrefs[forloop.index0] }}" aria-current="page">
            <button>
              {{ forloop.index }}
            </button>
          </a>
        {% else %}
          <a href="{{ pagination.hrefs[forloop.index0] }}">
            <button class="paginator-button">
              {{ forloop.index }}
            </button>
          </a>
        {% endif %}
      {% endfor %}


      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">
          <button class="paginator-button">
            <img src="/images/chevron-right.svg" alt="next">
          </button>
        </a>
      {% else %}
        <button class="paginator-button">
          <img src="/images/chevron-right.svg" alt="next">
        </button>
      {% endif %}


      {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}">
          <button class="paginator-button">
            Last
          </button>
        </a>
      {% else %}
        <button class="paginator-button">
          Last
        </button>
      {% endif %}
  </div>
</nav>